* {
    box-sizing: border-box;
}

html {
    --main: #002646;
    /* darkblue */
    --shadow: #001B32;
    --gold: #BF9A5D;
    --lightblue: #8FB8C9;
    --trgold: rgb(191 154 93/ 0.6);

}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: var(--main);
}

/* header */

header {
    display: grid;
    grid-template-columns: 1fr max-content 1fr;

    align-items: center;

    padding: 0 10px;


    h1 {
        grid-column: 2;
        margin: unset;
        z-index: 11;

        .logo {
            height: 70px;

            @media (min-width: 470px) {
                height: 90px;
            }
        }
    }

    .navbtn {
        z-index: 11;
        justify-self: end;
        background-color: unset;
        border: unset;

        &.is-open img {
            content: url("../assets/svg/x.svg");
        }

    }

    .menusmallscreen {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;

        padding: 6em 0 0 0;

        background-color: var(--main);

        width: 100%;
        max-width: 16em;

        translate: 100%;
        transition: .2s;
        z-index: 10;


        &.is-open {
            translate: 0;
        }

    }

    .menusmallscreen ul {
        margin: 0;
        padding: 1em 0 0 0;
        list-style-type: "";
        justify-self: center;
        gap: 1em;
        display: grid;

        a {
            text-decoration: none;
            color: white;
        }
    }

    /* groot scherm */

    @media (min-width: 500px) {
        padding: 0 20px;
    }

    @media (min-width: 820px) {
        grid-template-columns: 1fr;

        h1 {
            grid-column-start: 1;
            grid-row-start: 1;
            justify-self: center;
            z-index: 11;
        }

        .navbtn {
            display: none;
        }

        .menusmallscreen {
            position: static;
            translate: 0;
            grid-column-start: 1;
            grid-row-start: 1;
            max-width: unset;
            display: flex;
            justify-content: space-between;
            padding: unset;
        }

        .menusmallscreen ul {
            display: flex;
            gap: 1em;
            background-color: var(--shadow);
            border-radius: 15px;
            padding: 1em;

            a {
                text-decoration: none;
                color: white;
            }
        }
    }
}

/* main */

main {
    /* padding: 1px; */
    display: flex;
    flex-direction: column;
    gap: 5px;

    section {
        position: relative;
        max-height: 37em;
        overflow: hidden;
        padding: 0 5px;

        .gradient {
            position: absolute;
            width: 100%;
            height: 100%;
            left: 0;
            top: 0;
            background-image:
                linear-gradient(170deg,
                    var(--gold)2%,
                    var(--trgold) 20%,
                    transparent 85%);
            padding: 0 5px;

            background-origin: content-box;
            background-repeat: no-repeat;
        }


        img {
            width: 100%;
            display: block;

        }

        h2 {
            position: absolute;
            z-index: 2;
            top: 10%;
            left: 5%;
            color: var(--shadow);
            font-size: clamp(1em, 5vw, 2.5em);
        }

        p {
            position:absolute;
            bottom: 3em;
            font-size: clamp(5px, 4vw, 1.2em);
            background-color: var(--shadow);
            color: var(--gold);
            border-radius: 15px;
            padding: 10px;
            right: 3em;
        }

        .buttons {
            position: absolute;
            bottom: clamp(1em, 5vw, 3em);
            right: clamp(1em, 5vw, 3em);
            left: clamp(1em, 5vw, 3em);
            display: flex;
            justify-content: end;
            gap: 1em;



            a {
                text-decoration: none;
                color: var(--gold);
                background-color: var(--shadow);
                border-radius: 15px;
                padding: 10px;
                text-align: center;
                width: clamp (.5em 4vw, 1.2em);
                transition: .2s;
            }

            a:hover {
                scale: 1.2;
                transition: .2s;
            }
        }
    }
}

/* footer */

footer {
    padding: 1px;
    max-height: 15em;
    display: grid;
    grid-template-columns: 1fr max-content;
    grid-template-rows: auto auto auto auto;
    gap: 1em 1em;
    padding: 1em;

    .top {
        grid-column: 1;
        grid-row: 1;
        justify-self: center;

        h3 {
            color: var(--gold);
            justify-self: center;
        }

        a {
            text-decoration: none;
            transition: .2s;
        }

        img:hover {
            scale: 1.2;
            transition: .2s;
        }
    }


    .mid {
        grid-column: 1;
        grid-row: 2/4;
        display: grid;
        gap: 10px;

        a {
            text-decoration: none;
            color: white;
        }
    }

    .unesco {
        width: 9em;
        grid-column: 2;
        grid-row: 1/3;
        align-self: center;
    }

    .bottom {
        grid-row: 4;
        grid-column: 1/3;
        justify-self: center;
        display: flex;
        gap: 15px;

        a {
            text-decoration: none;
            color: white;
        }
    }

    .langnl .langeng {
        text-decoration: none;
        color: black;
        padding: 2px;
    }

    @media (min-width: 800px) {
        grid-template-rows: auto auto;
        grid-template-columns: 1fr auto auto 1fr;

        .top {
            grid-column: 2/4;
            justify-self: end;

            h3 {
                justify-self: center;
            }
        }

        .mid {
            grid-column: 1/3;
            grid-row: 2;
            display: flex;
            justify-self: end;
        }

        .unesco {
            grid-row: 1;
            grid-column: 4;
            justify-self: end;
        }

        .bottom {
            grid-row: 2;
            grid-column: 3/5;
            justify-self: start;
        }
    }
}