* {
    box-sizing: border-box;
}

html {
    --main:#002646;
    /* darkblue */
    --shadow:#001B32;
    --gold:#BF9A5D;
    --lightblue:#8FB8C9;
    --trgold:rgb(191 154 93/ 0.6);
    
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: var(--main);
}

/* header */

header {
    display: grid;
    grid-template-columns: 1fr max-content 1fr;

    align-items: center;

    padding: 0 10px;


    h1 {
        grid-column: 2;

        .logo {
            height: 70px;

            @media (min-width: 470px) {
                height: 90px;
            }
        }
    }

    .navbtn {
        z-index: 1;
        justify-self: end;
        background-color: unset;
        border: unset;

        &.is-open img {
            content: url("../assets/x.svg");
        }
        
    }

    .menusmallscreen {
        position:fixed;
        top:0;
        right:0;
        bottom:0;

        padding: 6em 0 0 0;

        background-color: var(--main);

        width:100%;
        max-width:16em;

        translate: 100%;
        transition: .2s;


        &.is-open {
            translate: 0;
        }

    }

    .menusmallscreen ul {
        margin:0;
        padding:1em 0 0 0;
        list-style-type: "";
        justify-self: center;
        gap: 1em;
        display:grid;

        a {
            text-decoration: none;
            color:white;
        }
    }

    /* groot scherm */

    @media (min-width: 500px) {
        padding: 0 20px;
    }

    @media (min-width: 820px) {
        grid-template-columns: 1fr;
        
        h1 {
            grid-column-start: 1;
            grid-row-start: 1;
            justify-self: center;
            z-index: 1;
        }

        .navbtn {
            display: none;
        }

        .menusmallscreen {
            position:static;
            translate: 0;
            grid-column-start: 1;
            grid-row-start: 1;
            max-width: unset;
            display: flex;
            justify-content: space-between;
            padding: unset;
        }

        .menusmallscreen ul {
            display: flex;
            gap: 1em;
            background-color: var(--shadow);
            border-radius: 15px;
            padding: 1em;

            a{
                text-decoration: none;
                color:white;
            }
        }
    }
}

    /* main */

main {
    padding: 1px;
}

section {
    position: relative;
    max-height: 35em;
    overflow:hidden;
    padding:5px;

    .gradient {
        position: absolute;
        width: 100%;
        height: 35em;
        background-image: 
            linear-gradient(
                130deg,
                var(--trgold) 25%,
                transparent 85%
            );
    }
    

    img {
     width: 100%;
     
    }

    h2 {
        position: absolute;
        z-index: 2;
        top: 10%;
        left: 5%;
        color: var(--shadow);
        font-size: 2.5em;
    }

    .buttons {
        position: absolute;
        bottom: clamp(1em, 5vw, 3em);
        right: clamp(1em, 5vw, 3em);
        left: clamp(1em, 5vw, 3em);
        display:flex;
        justify-content: end;
        gap: 1em;
        
        
        a {
            text-decoration: none;
            color:var(--gold);
            background-color: var(--shadow);
            border-radius: 15px;
            padding: 10px;
            text-align: center;
            font-size: 1.2em;
        }
    }
}